/****************************************

	Forked from Smashing HTML5 by Robert Utter.

	Name: Smashing HTML5
	Date: July 2009
	Description: Sample layout for HTML5 and CSS3 goodness.
	Version: 1.0
	License: MIT <http://opensource.org/licenses/MIT>
	Licensed by: Smashing Media GmbH <http://www.smashingmagazine.com/>
	Original author: Enrique Ramírez <http://enrique-ramirez.com/>	

/****************************************/


/***** Imports *****/
@import url("reset.css");
@import url("pygment.css");
@import url("typogrify.css");
@import url(//fonts.googleapis.com/css?family=Slabo+13px);


/***** Global *****/

/* Body */
body {
	background: hsl(58, 25%, 81%);
	color: hsl(204, 100%, 1%);
	font-size: 87.5%; /* Base font size: 14px */
	font-family: 'Verdana', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	line-height: 1.429;
	margin: 0;
	padding: 0;
	text-align: left;
}

strong, b {font-weight: bold;}
em, i {font-style: italic;}


/* HTML5 tags */
header, section, footer, aside, nav, article, figure {
	display: block;
}


/* Headings */
h1 {font-size: 2em }
h2 {font-size: 1.571em}	/* 22px */
h3 {font-size: 1.429em}	/* 20px */
h4 {font-size: 1.286em}	/* 18px */
h5 {font-size: 1.143em}	/* 16px */
h6 {font-size: 1em}		/* 14px */

	h1, h2, h3, h4, h5, h6 {
		font-weight: 400;
		line-height: 1.1;
		margin-bottom: .8em;
		font-family: 'Slabo 13px', arial, serif;
	}

	h3, h4, h5, h6 {
		margin-top: .8em;
	}

hr {border: 1px solid #ccc;}	
	

/* Links */
a {
	outline: 0;
	transition: background 0.2s, color 0.2s;
}

	a img {
		border: 0px;
		text-decoration: none;
	}

	a:link, a:visited {
		color: hsl(360, 80%, 40%);
		padding: 0 1px;
		text-decoration: none;
	}

	a:hover, a:active {
		color: hsl(360, 85%, 45%);
		text-decoration: underline;
	}


/* Paragraphs */
div.line-block, p {
	margin-top: 1em;
	margin-bottom: 1em;
}


/* Lists */
ul {
	list-style: inside disc;
	margin: 1.5em;
}

ol {
	list-style: inside decimal;
	margin: 1.5em;
}

li {margin-top: 0.5em;}


/* Misc content */
dl {margin: 0 0 1.5em 0;}
dt {font-weight: bold;}
dd {margin-left: 1.5em;}

cite {}

q {}

pre{
	background-color: rgb(238, 238, 238);
	padding: 10px;
	margin: 10px;
	overflow: auto;
}

blockquote {
	margin: 20px;
	font-style: italic;
}

div.note {
	float: right;
	margin: 5px;
	font-size: 85%;
	max-width: 300px;
}


/***** Article headers *****/
.post-heading {
	padding:5px;
	font-size:0.7em;
	color: hsl(204, 10%, 50%);
	margin-top: 1px;
	margin-bottom: 1px;
}

	.post-heading p {
		margin-top: 1px;
		margin-bottom: 1px;
	}

.readmore {float: right;}


/***** Tables *****/
table {
	margin: .5em auto 1.5em auto;
	width: 98%;
}
	
	/* Thead */
	thead th {padding: .5em .4em; text-align: left;}
	thead td {}

	/* Tbody */
	tbody td {padding: .5em .4em;}
	tbody th {}
	
	tbody .alt td {}
	tbody .alt th {}
	
	/* Tfoot */
	tfoot th {}
	tfoot td {}


/***** Layout *****/
.body {
	clear: both;
	margin: 0 auto;
	width: 800px;
}

img.right, figure.right {
	float: right;
	margin: 0 0 2em 2em;
}

img.left, figure.left {
	float: left;
	margin: 0 2em 2em 0;
}


/***** Banner *****/
#banner {
	margin: 0 auto;
	padding: 2.5em 0 0 0;
}

	#banner h1 {
		font-size: 3.571em;
		line-height: 0;
	}

		#banner h1 a:link, #banner h1 a:visited {
			color: hsl(204, 100%, 1%);
			display: block;
			font-weight: bold;
			margin: 0 0 .6em .2em;
			text-decoration: none;
		}

		#banner h1 a:hover, #banner h1 a:active {
			background: none;
			color: hsl(360, 80%, 35%);
			text-shadow: none;
		}

		#banner h1 strong {
			font-size: 0.36em;
			font-weight: normal;
		}
	
	#banner nav {
		background: hsl(204, 100%, 1%);
		font-size: 1.143em;
		height: 40px;
		line-height: 30px;
		margin: 0 auto 2em auto;
		padding: 0;
		text-align: center;
		width: 800px;
		
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
	}
	
		#banner nav ul {
			list-style: none;
			margin: 0 auto;
			width: 800px;
		}

		#banner nav li {
			float: left;
			display: inline;
			margin: 0;
		}

			#banner nav li:first-child a {
				border-top-left-radius: 5px;
				-moz-border-radius-topleft: 5px;
				-webkit-border-top-left-radius: 5px;
				
				border-bottom-left-radius: 5px;
				-moz-border-radius-bottomleft: 5px;
				-webkit-border-bottom-left-radius: 5px;
			}		
	
		#banner nav a:link, #banner nav a:visited {
			color: #fff;
			display: inline-block;
			height: 30px;
			padding: 5px 1.5em;
			text-decoration: none;
		}

		#banner nav a:hover, #banner nav a:active,
		#banner nav .active a:link, #banner nav .active a:visited {
			background: hsl(360, 80%, 35%);
			color: #fff;
			text-shadow: none !important;
		}


/***** Featured *****/
#featured {
	background: #fff;
	margin-bottom: 2em;
	overflow: hidden;
	padding: 20px;
	width: 760px;
	
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

	#featured figure {
		border: 2px solid #eee;
		float: right;
		margin: 0.786em 2em 0 5em;
		width: 248px;
	}

		#featured figure img {
			display: block;
			float: right;
		}

	#featured h2 {
		color: hsl(360, 57%, 50%);
		font-size: 1.714em;
		margin-bottom: 0.333em;
	}

	#featured h3 {
		font-size: 1.429em;
		margin-bottom: .5em;
	}

		#featured h3 a:link, #featured h3 a:visited {
			color: hsl(204, 100%, 1%);
			text-decoration: none;
		}

		#featured h3 a:hover, #featured h3 a:active {color: #fff;}


/***** Body *****/
#content {
	background: #fff;
	margin-bottom: 2em;
	overflow: hidden;
	padding: 20px 20px;
	width: 760px;

	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}


/***** Extras *****/
#extras {
	margin: 0 auto 3em auto;
	overflow: hidden;
}

	#extras ul {
		list-style: none;
		margin: 0;
	}

	#extras h2 {
		color: hsl(360, 57%, 50%);
		font-size: 1.429em;
		margin-bottom: .25em;
		padding: 0 3px;
	}

	#extras a:link, #extras a:visited {
		color: hsl(0, 0%, 10%);
		display: block;
		text-decoration: none;
		padding: .3em .25em;
	}

	#extras a:hover, #extras a:active {
		color: hsl(360, 57%, 50%);
		text-decoration: underline;
	}

	/* Blogroll */
	#extras .blogroll {
		float: left;
	}

	/* Social */
	#extras .social {
		float: right;
	}
	
		#extras .social a {
			background-repeat: no-repeat;
			background-position: 3px 6px;
			padding-left: 25px;
		}
		
			/* Icons */
			.social a[href*='about.me'] {background-image: url('../images/icons/aboutme.png');}
			.social a[href*='bitbucket.org'] {background-image: url('../images/icons/bitbucket.png');}
			.social a[href*='delicious.com'] {background-image: url('../images/icons/delicious.png');}
			.social a[href*='digg.com'] {background-image: url('../images/icons/digg.png');}
			.social a[href*='facebook.com'] {background-image: url('../images/icons/facebook.png');}
			.social a[href*='gitorious.org'] {background-image: url('../images/icons/gitorious.png');}
			.social a[href*='github.com'],
			.social a[href*='git.io'] {
				background-image: url('../images/icons/github.png');
				background-size: 16px 16px;
			}
			.social a[href*='gittip.com'] {background-image: url('../images/icons/gittip.png');}
			.social a[href*='plus.google.com'] {background-image: url('../images/icons/google-plus.png');}
			.social a[href*='groups.google.com'] {background-image: url('../images/icons/google-groups.png');}
			.social a[href*='news.ycombinator.com'],
			.social a[href*='hackernewsers.com'] {background-image: url('../images/icons/hackernews.png');}
			.social a[href*='last.fm'], .social a[href*='lastfm.'] {background-image: url('../images/icons/lastfm.png');}
			.social a[href*='linkedin.com'] {background-image: url('../images/icons/linkedin.png');}
			.social a[href*='reddit.com'] {background-image: url('../images/icons/reddit.png');}
			.social a[type$='atom+xml'], .social a[type$='rss+xml'] {background-image: url('../images/icons/rss.png');}
			.social a[href*='slideshare.net'] {background-image: url('../images/icons/slideshare.png');}
			.social a[href*='speakerdeck.com'] {background-image: url('../images/icons/speakerdeck.png');}
			.social a[href*='stackoverflow.com'] {background-image: url('../images/icons/stackoverflow.png');}
			.social a[href*='twitter.com'] {background-image: url('../images/icons/twitter.png');}
			.social a[href*='vimeo.com'] {background-image: url('../images/icons/vimeo.png');}
			.social a[href*='youtube.com'] {background-image: url('../images/icons/youtube.png');}
			.social a[href*='unity3d.com'] {background-image: url('../images/icons/unity-icon.png');}


/***** Footer *****/
#about {
	padding-bottom: 2em;
	text-align: right;
	font-size:0.7em;
}

/***** Sections *****/

.entry-title {
	font-size: 3em;
	margin-bottom: 10px;
	margin-top: 0;
}

	.entry-title a:link, .entry-title a:visited {
		text-decoration: none;
		color: #333;

	}

	.entry-title a:visited {background-color: #fff;}


/* Blog Index */
#posts-list {
	list-style: none;
	margin: 0;
}

	#posts-list footer address {display: block;}

	.hentry {
		display: block;
		clear: both;
		border-bottom: 1px solid #eee;
		padding: 1.5em 0;
	}

		li:last-child .hentry {
			border: 0;
			margin: 0;
		}

		#content > .hentry {
			padding: 0;
			border: 0;
			margin: 0;
		}
		
		/*.hentry img{display: none;}*/

		.hentry img{border:1px solid black;}

		.hentry iframe{display: none;} /* Sometimes I'm dumb and a YouTube iframe is in summary */

		.hentry .post-info {font-style: normal;}

		.hentry footer {margin-bottom: 2em;}

			.hentry footer address {display: inline;}

		.hentry h1 {margin-bottom:0px;}	
